.no-bg{background:none;}

.georgia{font-family:Georgia;}

.italic{font-style:italic;}

.justify{text-align:justify;}

.tac{text-align:center;}

.center{text-align:center;margin-left:auto;padding-left:5px;}